* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

body {
  margin: 0;
  padding: 0;
  background: url("./tribunes.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

#app {
  width: 100%;
  text-align:center;
  vertical-align: center;
  }

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }